<div class="container mt-4 ">

  <div class="mb-4 mb-lg-0">
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
          <img src="https://banner2.cleanpng.com/20180529/the/kisspng-jetpack-joyride-astronaut-space-suit-clothing-space-astronaut-5b0dce8ee9f576.5415625015276315029583.jpg" id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form class="login-form">
            <div>
    <label for="email-login">email:</label>
          <input type="text" id="email-login" class="fadeIn
            second" name="login" placeholder="email">
            </div>
              <div>
    <label for="password-login">password:</label>
          <input type="password" id="password-login" class="fadeIn
            third" name="login" placeholder="password">
</div>
          <div>
            <button id="submit" type="submit">login</button>
          </div>

          <div id="login-error" class="alert alert-danger" role="alert">

            <p> We're sorry, there is an error with your email and/or password. Please try again!
            </p>
          </div>



        </form>
        <!-- Remind Password -->
        <div id="formFooter">
          <a class="underlineHover" href="/signup">Sign Up</a>
        </div>

      </div>
    </div>
  </div>

</div>

<script src="../public/javascript/login.js"></script>